[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
log-bin
server-id=1
bind-address=0.0.0.0
log-error=/var/log/mysqld.log

log-bin=master1-bin
max-binlog-size=32768K
server-id=1
auto_increment_increment=10
auto_increment_offset=3
expire_logs_days=14

skip-name-resolve
innodb_file_per_table
innodb_thread_concurrency = 36
query_cache_size = 128M
query_cache_limit = 8M
thread_cache_size = 64
key_buffer_size = 512M
max_allowed_packet = 64M
table_open_cache = 512
sort_buffer_size = 4M
read_buffer_size = 4M
read_rnd_buffer_size = 2M
myisam_sort_buffer_size = 64M
max_heap_table_size = 128M
tmp_table_size = 128M
query_cache_type = 1
wait_timeout = 120
max_connections = 600
innodb_buffer_pool_size = 48201M

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[client]
socket=/var/lib/mysql/mysql.sock
